<div class="page-container" data-action="image">
	<div class="row">
		<div class="col-md-4">
			<h4>Lorem</h4>
			<img src="http://lorempixel.com/300/150/people" alt="..." class="img-thumbnail">
			<p></p>
			<span class="btn btn-default" data-toggle="modal" data-target="#edit-image" role="button">
				Редактировать »
			</span>
		</div>
	</div>
</div>

<div id="edit-image" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Редактировать изображение</h4>
			</div>
			<div class="modal-body">
				<img src="http://lorempixel.com/550/300/people" alt="..." class="img-thumbnailс">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-primary">Сохранить</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->